<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="first_tb3"  default="tb3_0"/>
  <arg name="second_tb3" default="tb3_1"/>
  <arg name="third_tb3"  default="tb3_2"/>
  <arg name="fourth_tb3" default="tb3_3"/>
  <arg name="fifth_tb3"  default="tb3_4"/>
  <arg name="sixth_tb3" default="tb3_5"/>
  <arg name="seventh_tb3"  default="tb3_6"/>
  <arg name="eighth_tb3" default="tb3_7"/>
  <arg name="ninth_tb3"  default="tb3_8"/>
  <arg name="tenth_tb3" default="tb3_9"/>

  <arg name="first_tb3_x_pos" default="-1.59"/>
  <arg name="first_tb3_y_pos" default="-1.94"/>
  <arg name="first_tb3_z_pos" default="-0.00"/>
  <arg name="first_tb3_yaw"   default=" 0.50"/>

  <arg name="second_tb3_x_pos" default="-1.86"/>
  <arg name="second_tb3_y_pos" default="-0.69"/>
  <arg name="second_tb3_z_pos" default="-0.00"/>
  <arg name="second_tb3_yaw"   default="-0.11"/>

  <arg name="third_tb3_x_pos" default=" -2.02"/>
  <arg name="third_tb3_y_pos" default=" 1.48"/>
  <arg name="third_tb3_z_pos" default="-0.00"/>
  <arg name="third_tb3_yaw"   default="-1.46"/>

  <arg name="fourth_tb3_x_pos" default=" 2.09"/>
  <arg name="fourth_tb3_y_pos" default=" 1.66"/>
  <arg name="fourth_tb3_z_pos" default=" -0.00"/>
  <arg name="fourth_tb3_yaw"   default=" -2.05"/>

  <arg name="fifth_tb3_x_pos" default=" 3.79"/>
  <arg name="fifth_tb3_y_pos" default=" 0.54"/>
  <arg name="fifth_tb3_z_pos" default=" -0.00"/>
  <arg name="fifth_tb3_yaw"   default=" -2.97"/>

  <arg name="sixth_tb3_x_pos" default=" 2.64"/>
  <arg name="sixth_tb3_y_pos" default=" -1.76"/>
  <arg name="sixth_tb3_z_pos" default=" -0.00"/>
  <arg name="sixth_tb3_yaw"   default=" -0.02"/>
  
   <arg name="seventh_tb3_x_pos" default=" -1.02"/>
  <arg name="seventh_tb3_y_pos" default=" 1.48"/>
  <arg name="seventh_tb3_z_pos" default="-0.00"/>
  <arg name="seventh_tb3_yaw"   default="-1.46"/>

  <arg name="eighth_tb3_x_pos" default=" 1.09"/>
  <arg name="eighth_tb3_y_pos" default=" 1.66"/>
  <arg name="eighth_tb3_z_pos" default=" -0.00"/>
  <arg name="eighth_tb3_yaw"   default=" -2.05"/>

  <arg name="ninth_tb3_x_pos" default=" 3.62"/>
  <arg name="ninth_tb3_y_pos" default=" -0.58"/>
  <arg name="ninth_tb3_z_pos" default=" -0.00"/>
  <arg name="ninth_tb3_yaw"   default=" -2.97"/>

  <arg name="tenth_tb3_x_pos" default=" 0.95"/>
  <arg name="tenth_tb3_y_pos" default=" -1.94"/>
  <arg name="tenth_tb3_z_pos" default=" -0.00"/>
  <arg name="tenth_tb3_yaw"   default=" -0.02"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/tie23_3.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns = "$(arg first_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg first_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg first_tb3) -x $(arg first_tb3_x_pos) -y $(arg first_tb3_y_pos) -z $(arg first_tb3_z_pos) -Y $(arg first_tb3_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg second_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg second_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg second_tb3) -x $(arg second_tb3_x_pos) -y $(arg second_tb3_y_pos) -z $(arg second_tb3_z_pos) -Y $(arg second_tb3_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg third_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg third_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg third_tb3) -x $(arg third_tb3_x_pos) -y $(arg third_tb3_y_pos) -z $(arg third_tb3_z_pos) -Y $(arg third_tb3_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg fourth_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg fourth_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg fourth_tb3) -x $(arg fourth_tb3_x_pos) -y $(arg fourth_tb3_y_pos) -z $(arg fourth_tb3_z_pos) -Y $(arg fourth_tb3_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg fifth_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg fifth_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg fifth_tb3) -x $(arg fifth_tb3_x_pos) -y $(arg fifth_tb3_y_pos) -z $(arg fifth_tb3_z_pos) -Y $(arg fifth_tb3_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg sixth_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg sixth_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg sixth_tb3) -x $(arg sixth_tb3_x_pos) -y $(arg sixth_tb3_y_pos) -z $(arg sixth_tb3_z_pos) -Y $(arg sixth_tb3_yaw) -param robot_description" />
  </group>
  
  <group ns = "$(arg seventh_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg seventh_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg seventh_tb3) -x $(arg seventh_tb3_x_pos) -y $(arg seventh_tb3_y_pos) -z $(arg seventh_tb3_z_pos) -Y $(arg seventh_tb3_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg eighth_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg eighth_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg eighth_tb3) -x $(arg eighth_tb3_x_pos) -y $(arg eighth_tb3_y_pos) -z $(arg eighth_tb3_z_pos) -Y $(arg eighth_tb3_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg ninth_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg ninth_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg ninth_tb3) -x $(arg ninth_tb3_x_pos) -y $(arg ninth_tb3_y_pos) -z $(arg ninth_tb3_z_pos) -Y $(arg ninth_tb3_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg tenth_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro botname:=$(arg tenth_tb3)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg tenth_tb3) -x $(arg tenth_tb3_x_pos) -y $(arg tenth_tb3_y_pos) -z $(arg tenth_tb3_z_pos) -Y $(arg tenth_tb3_yaw) -param robot_description" />
  </group>

</launch>
